@page
@model CatecVisitas.Pages.Visitantes.CreateModel

@{
    ViewData["Title"] = "Alta";
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=', '&');
    var IDVisita = "";
    IDVisita =  queryPart[1];

    }
}

<br />
<br />
<br />

<h2> <img src="~/images/icons8-nombre-80.png" /> &nbsp; Nuevo Visitante</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Nombre" class="control-label"></label>
                <input asp-for="Person.Nombre" class="form-control" />
                <span asp-validation-for="Person.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Apellidos" class="control-label"></label>
                <input asp-for="Person.Apellidos" class="form-control" />
                <span asp-validation-for="Person.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DNI" class="control-label"></label>
                <input asp-for="Person.DNI" class="form-control" />
                <span asp-validation-for="Person.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Empresa" class="control-label"></label>
                <input asp-for="Person.Empresa" class="form-control" />
                <span asp-validation-for="Person.Empresa" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Person.FechaAlta" class="control-label"></label>
            <input asp-for="Person.FechaAlta" class="form-control"  readonly="readonly" />
            <span asp-validation-for="Person.FechaAlta" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
                <input type="hidden" asp-for="EnlaceVisitaPersona.PersonaID" />
                <input   type="hidden"  asp-for="EnlaceVisitaPersona.VisitaID" />
            </div>*@

            <div class="form-group">
                <input type="submit" value="Alta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-idVisita="@IDVisita">@*Volver a la lista*@ <img src="~/images/back.png" /> Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
