@page
@model CatecVisitas.Pages.Visitas.CreateModel
@using Microsoft.Extensions.Options;
@using CatecVisitas.Models;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "Alta Visita";
    var usuario = @User.Identity.Name;
    var nombre = usuario.Split('\\');
    var users = @Settings.Value.Users;
    var authorized = false;
}
<br />
<br />
<br />
@foreach (var item in users)
{
    if (usuario.Equals(item))
    {
        authorized = true;
        break;
    }

}

@if(authorized)
{

@*<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>*@ <h2><img src="~/images/icons8-crear-nuevo-80.png" /> Alta Visita / Add Visit</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Visita.IdPerson" class="control-label"></label>
                    <input asp-for="Visita.IdPerson" class="form-control" />
                    <span asp-validation-for="Visita.IdPerson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Visita.FechaVisita" class="control-label"></label>
                    <input asp-for="Visita.FechaVisita" class="form-control" />
                    <span asp-validation-for="Visita.FechaVisita" class="text-danger"></span>
                </div>*@

            <br />
            <fieldset class="scheduler-border">

                <div class="form-group">
                    <label asp-for="Visita.Motivo" class="control-label">Motivo / Porpose:</label>
                    <input asp-for="Visita.Motivo" class="form-control" />
                    <span asp-validation-for="Visita.Motivo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visita.Duracion" class="control-label"> Duraci&oacute;n / Duration:</label>
                    <input asp-for="Visita.Duracion" class="form-control" />
                    <span asp-validation-for="Visita.Duracion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Visita.ResponsableCatec" class="control-label"> Resposable Catec / Catec Responsible Person:</label>
                    <input asp-for="Visita.ResponsableCatec" class="form-control" />
                    <span asp-validation-for="Visita.ResponsableCatec" class="text-danger"></span>
                </div>


                <br />
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div>

    <a asp-page="../Index"><img src="~/images/back.png" /> Volver / Back </a>


</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
