@page
@model CatecVisitas.Pages.Visitas.EditModel

@{
    ViewData["Title"] = "Editar Visitas";
}
<div class="container">


    <br />
    <br />
    <br />
    <h2> <img src="~/images/icons8-editar-propiedad-80.png"/> Editar Visita / Edit Visit</h2>
    <br />

    <hr />
    <div class="row">
        <div class="col-md-4">
            @*<div class="panel panel-default">*@
            @*<div class=container>*@
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Visita.IdVisita" />
                <input type="hidden" asp-for="Visita.IdPerson" />

                <div class="form-group">
                    <label class="control-label">Fecha Visita / Date Visit </label>
                    @*<label> @Html.DisplayFor(model => model.Visita.FechaVisita.ToShortDateString()) </label>*@
                    <input asp-for="Visita.FechaVisita.Date" class="form-control" readonly="readonly" disabled="disabled" />
                    <span asp-validation-for="Visita.FechaVisita" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Hora / Hour</label>
                    @*<label class="control-label">@Html.DisplayFor(model => model.Visita.Hora))</label>*@
                        <input asp-for="Visita.Hora.TimeOfDay" class="form-control" readonly="readonly"disabled="disabled"/>
                        <span asp-validation-for="Visita.Hora" class="text-danger"></span>
</div>

                <div class="form-group">
                    <label asp-for="Visita.Motivo" class="control-label">Motivo / Reason</label>
                    <input asp-for="Visita.Motivo" class="form-control" />
                    <span asp-validation-for="Visita.Motivo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visita.Duracion" class="control-label">Duraci&oacute;n / Duration</label>
                    <input asp-for="Visita.Duracion" class="form-control" />
                    <span asp-validation-for="Visita.Duracion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visita.ResponsableCatec" class="control-label">Responsable Catec / Catec Responsible Person</label>
                    <input asp-for="Visita.ResponsableCatec" class="form-control" />
                    <span asp-validation-for="Visita.ResponsableCatec" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
            @*</div>*@
            @*</div>*@
        </div>
    </div>
    <div>
        <a asp-page="./Index"><img src="~/images/back.png" /> Volver a la Lista</a>
    </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
