@page
@model CatecVisitas.Pages.Visitas.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container">


    <br />
    <br />
    <br />
    <h2> <img src="~/images/icons8-editar-propiedad-80.png"/> Editar Visita</h2>
    <br />

    <hr />
    <div class="row">
        <div class="col-md-4">
            @*<div class="panel panel-default">*@
            @*<div class=container>*@
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Visita.IdVisita" />
                <input type="hidden" asp-for="Visita.IdPerson" />

                <div class="form-group">
                    <label class="control-label">Fecha Visita</label>
                    <input asp-for="Visita.FechaVisita" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Visita.FechaVisita" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Hora</label>
                    <input asp-for="Visita.Hora" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Visita.Hora" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visita.Motivo" class="control-label"></label>
                    <input asp-for="Visita.Motivo" class="form-control" />
                    <span asp-validation-for="Visita.Motivo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visita.Duracion" class="control-label"></label>
                    <input asp-for="Visita.Duracion" class="form-control" />
                    <span asp-validation-for="Visita.Duracion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visita.ResponsableCatec" class="control-label"></label>
                    <input asp-for="Visita.ResponsableCatec" class="form-control" />
                    <span asp-validation-for="Visita.ResponsableCatec" class="text-danger"></span>
                </div>
                @*//TODO: CAMBIAR ESTE BOTON*@
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </form>
            @*</div>*@
            @*</div>*@
        </div>
    </div>
    <div>
        <a asp-page="./Index">Volver</a>
    </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
