@page
@model IndexModel
@using Microsoft.Extensions.Options;
@using CatecVisitas.Models;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "Home page";
    var usuario = @User.Identity.Name;
    var nombre = usuario.Split('\\');
    var users = @Settings.Value.Users;
    var authorized = false;
}
<br />

<div class="contenedorEspecial">

    <div class="jumbotron text-center" style="background: transparent">
        <h1>Libro de Visitas / Guestbook</h1>

    </div>
    @*@users = @Settings.Value.Users;*@

    @foreach (var item in users)
    {
        if (usuario.Equals(item))
        {
            authorized = true;
            break;
        }

    }

    @*@if (usuario.Equals("bmartin"))*@
    @if (authorized)
    {
        @*<div class="row">
                <div class="col-sm-6">

                    <div class="thumbnail">
                        <h4 align="center">A&ntilde;adir Visita</h4>
                        <p align="center"></p>
                        <a asp-page="/Visitas/Create"> <img src="images/trabajo-en-equipo.svg" alt="..." class="img-thumbnail" style="width: 40%; background: transparent;border: transparent"></a>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="thumbnail">
                        <h4 align="center">Listado de Visitas</h4>
                        <p align="center"></p>
                        <a asp-page="/Visitas/Index"> <img src="images/la-busqueda-de-empleo.svg" alt="..." class="img-thumbnail" style="width: 40%; background: transparent;border: transparent"></a>

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <img src="~/images/catecLogo.png" style="width:100%" />
                    </div>
                </div>
            </div>*@




        <a asp-page="/Visitas/Create">
            <div class="text-info">
                <p align="center" style="text-size-adjust:auto">A&ntilde;adir Visita / Add Visit</p>
            </div>
            <div class="text-center">
                <img src="images/trabajoequipo.svg" alt="Add New Visit" style="width:24%">
            </div>
        </a>

     
            <div class="row">
                <img src="~/images/catecLogo.png" style="width:100%" />
            </div>
     

    }
</div>