@page
@model CatecVisitas.Pages.EnlaceVisitasPersonas.CreateModel

@{
    ViewData["Title"] = "Create";
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=', '&');
    var queryStream = queryPart[1];
    int idPerson = Convert.ToInt32(queryStream);
    var idVisitaString = queryPart[3];
    var idVisitaInt = Convert.ToInt32(idVisitaString);
    var nombrePersona = "";
}

<br />
<br />

<hr />
<div class="row">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
                <label asp-for="EnlaceVisitaPersona.IDEnlace" class="control-label"></label>
                <input asp-for="EnlaceVisitaPersona.IDEnlace" class="form-control" />
                <span asp-validation-for="EnlaceVisitaPersona.IDEnlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnlaceVisitaPersona.VisitaID" class="control-label"></label>
                <input asp-for="EnlaceVisitaPersona.VisitaID" class="form-control" />
                <span asp-validation-for="EnlaceVisitaPersona.VisitaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnlaceVisitaPersona.PersonaID" class="control-label"></label>
                <input asp-for="EnlaceVisitaPersona.PersonaID" class="form-control" />
                <span asp-validation-for="EnlaceVisitaPersona.PersonaID" class="text-danger"></span>
            </div>*@

        @*@foreach (var item in Model.Person)
            {
                if (item.ID == Model.EnlaceVisitaPersona.PersonaID)
                {
                    <div class="text-center">
                        <div class="alert-info"> &iquest; Desea incluir a @item.Nombre @item.Apellidos de la Empresa @item.Empresa en la visita ?</div>
                    </div>

                }

            }*@


        @*<div class="panel-body">*@

        @foreach (var item in Model.Person)
        {
            if (item.Id == idPerson)
            {
                nombrePersona = item.Nombre + " " + item.Apellidos + " de la empresa " + item.Empresa;
            }
        }
        @*<div class="container">
            <h4>
                <strong>VISITANTE: @nombrePersona </strong>
            </h4>
            <div class="alert alert-info">
                &iquest; Desea incluir a @nombrePersona en la visita ?
                <button class="btn-link" type="submit" style="height:auto">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
                <a asp-page="../Visitantes/Index" asp-route-idVisita="@idVisitaInt"> <span class="glyphicon glyphicon-remove-circle" style="font-stretch:extra-expanded"></span></a>
            </div>
        

        </div>*@
    </form>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
